a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: inherit;
}

a:active {
  text-decoration: underline;
  color: inherit;
}

header {
  padding: 60px 0 60px 0;
  background-color: #6ba;
}

hr {
  border-color: rgba(255,255,255,0.6);
}

section {
  padding: 50px 0 60px 0;
}

span:hover {
  position: relative;
}

span[aria-label]:hover:after {
  position: absolute;
  z-index: 5000;
  top: 900%;
  left: 22%;
  padding: 4px 8px;
  content: attr(aria-label);
  white-space: nowrap;
  border-radius: 2px;
  background: #6ba;
}

.btn-custom {
  width: 180px !important;
}

.capsule {
  display: inline-block;
  padding: 5px 20px;
  border-radius: 20px;
  margin: 6px 2px 0 0;
}

.capsule-language {
  background-color: #d45;
}

.capsule-framework {
  background-color: #e5408D;
}

.capsule-concept {
  background-color: #ec3;
}

.capsule-software {
  background-color: #46d;
}

.card {
  background-color: rgba(0,0,0,0);
  width: 260px;
  height: 390px;
  border-radius: 5px;
  margin: 20px;
  -webkit-box-shadow: 0px 18px 25px -10px rgba(0,0,0,0.17);
  -moz-box-shadow: 0px 18px 25px -10px rgba(0,0,0,0.17);
  box-shadow: 0px 18px 25px -10px rgba(0,0,0,0.17);
}

.card:hover {
  cursor: pointer;
  border: 1px solid #fff;
}
  
.card-top {
  color: #fff;
  height: 75%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 30px;
}

.card-color1 {
  background-color: #b91d73;
}

.card-color2 {
  background-color: #cb16d0;
}

.card-color3 {
  background-color: #9115c6;
}

.card-bottom {
  background-color: #fff;
  color: rgba(0,0,0,0.7);
  height: 25%;
  padding: 20px 30px;
  font-weight: bold;
  text-align: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.div-section-title {
  padding-bottom: 15px;
  padding-left: 10%;
}

.faint-text {
  color: rgba(255,255,255,0.5)
}

.header-img {
  display: block;
  height: 360px;
  width: 360px;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.how-to-say-name-div {
  padding-top: 50px;
}

.intro-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro-text h2 {
  padding-right: 15%;
}

.navbar {
  background-color: rgba(0,0,0,0.05);
  padding-right: 12%;
}

.navbar .container .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

.navbar .container .navbar-toggler:focus {
  outline: 1px solid rgba(0,0,0,0);
}

.plain-text-row {
  padding-left: 10%;
}

.plain-text {
  padding-left: 0;
}

.plain-text-right-col {
  padding-left: 0;
  margin-left: 40px;
}

.shield-logo-top,
.shield-logo-bottom {
  padding-left: 50px;
}

.shield-logo-top img {
  height: 170px;
  margin-bottom: 50px;
}

.shield-logo-bottom img {
  height: 170px;
  margin-bottom: 30px;
}

.skills {
  padding: 30px 10% 0;
}

#div-github {
  position: absolute;
  bottom: 0;
}

#div-projects-text {
  position: relative;
}

#education {
  background-color: #ec3;
}

#intro-div-text {
  display: table-cell;
  vertical-align: middle;
}

#projects {
  color: #fff;;
  background-color: #46d;
}

#projects a {
  text-decoration: none;
}

#projects .github-link {
  color: rgba(255, 255, 255, 0.8);
  margin-left: auto;
  padding-right: 10%;
  margin-bottom: -20px;
}

#projects .github-link:hover {
  text-decoration: underline;
}

#experience {
  color: #fff;
  background-color: #d45;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  .div-section-title{
    padding-left: 0;
  }

  .div-section-title h2{
    margin: 0 auto 0.5rem;
  }

  .intro-text h2 {
    padding-right: 0;
  }

  .plain-text-row {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 15px;
  }

  .plain-text-row-bottom {
    padding-top: 20px;
  }

  .plain-text-right-col {
    margin-left: 0;
  }

  .header-img {
    height: 300px;
    width: 300px;
  }

  .how-to-say-name-div {
    padding-top: 20px;
  }

  .intro-text-container {
    padding-top: 30px;
  }

  .shield-logo-top,
  .shield-logo-bottom {
    position: absolute;
    left: 200px;
    bottom: 0;
    width: auto;
  }

  .shield-logo-top img,
  .shield-logo-bottom img {
    height: 60px;
    margin-bottom: 20px;
    padding-left: 0;
  }

  .skills {
    padding: 20px 15px 0;
  }

  #projects .github-link {
    padding-right: 0;
    margin: 5px auto -20px;
  }
}